@import "variables";

body{
    background-color:  rgb(12, 12, 12);;
}
h1{
    color: white;
};

h2{
    color: white;
};

h3{
    color: white;
}

p{
    color: gray;
}

.card{
    background-color: rgb(36, 36, 36);
    h5{
        color: white;
    }
}

.navbar-brand{
    color: white;
}

a.nav-link{
    color: white;
}

@mixin propiedades($ancho,$alto,$colorLetra){
    width: $ancho;
    height: $alto;
    color: $colorLetra;
}

.btn{
    padding: map-get($btn, padding );
    border: map-get($btn , bordes );
    @include propiedades(100px,auto ,rgb(255, 255, 255) );
}


@each $key , $var in $colores {
    .btn-#{$key}{
        @extend .btn;
        background-color: $var;
    }
}; 