@import "variables";


.btn{
    padding: map-get($btn, padding );
    border: map-get($btn , bordes );
    border-radius: map-get ($btn , radio );
    @include propiedades(100px,auto ,rgb(255, 255, 255) );
}

@mixin propiedades($ancho,$alto,$colorLetra){
    width: $ancho;
    height: $alto;
    color: $colorLetra;
}

@each $key , $var in $colores {
    .btn-#{$key}{
        @extend .btn;
        background-color: $var;
    }
}; 