.carousel-inner{
    border-radius: 20px;
}
.btn__contacto{
    background-color: rgb(238, 238, 238);
    border-color: rgb(182, 182, 182);
}

.ayudagrid{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px;
    grid-gap: 7px;
}
.ayudagrid figure{
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.ayudagrid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.ayudagrid ul li{
    color: white;
    display: grid; 
    justify-content: baseline;
    padding: 20px; 
    font-size: 20px;
    list-style: none;
}
.ayudagrid a{
    text-decoration: none;
}
.ayudagrid ul li:hover{
    color: red;
}

.ubicacion1{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.ubicacion1 iframe{
    width: 1000px;
}

body{
    background-color: rgb(12, 12, 12);
}

h1{
    color: white;
}

h2{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}

.navbar-brand:hover{
    color: rgb(33, 164, 182);
}

a.nav-link{
    color: white;
}

.pie-pagina{
    width: 100%;
    margin-top: 100px;
  }
  
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box .red-social a img{
    width: 50px;
    margin-right: 20px;
  }
  .pie-pagina .grupo-1 .box .red-social .twitch img{
    width: 90px;
  }
  .pie-pagina .grupo-1 .box .red-social img:hover{
    width: 52px;
  }
  .pie-pagina .grupo-1 .box .red-social .twitch img:hover{
    width: 92px;
  }
  .pie-pagina .grupo-2{
    text-align: center;
  }
  label{
    color: rgb(206, 206, 206);
  }
  @media screen and (max-width:800px){
    .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1,1fr);
    grid-gap:30px;
    padding: 35px 0px;
  }
  }

@media screen and (max-width:800px){
    h5{
        font-size: 9px;
    }
    .ayudagrid{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 250px;
        grid-gap: 7px;
    }
    
}